<div class="search-wrapper">
    <div class="input-wrapper">
      <span class="search-icon"><i class="fas fa-search"></i></span>
      <input type="text" placeholder="Search">
    </div>
    <div class="search-select">
      <div class="btn-select" id="btnSelect">
        <span class="label">All</span>
        <span><i class="fas fa-sort"></i></span>
      </div>
      <ul class="options" id="options">
        <li>Type</li>
        <li>All</li>
        <li>Age</li>
      </ul>
    </div>
    <button class="search-btn">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>